@model IEnumerable<CarShop.Database.Models.Product>

<!-- products -->
<main class="product-grid">

    @foreach (var item in Model)
    {
        <!-- product -->
        <div class="product">

            @*group title*@
            <a class="product-group">@item.Group.GroupName</a>

            @*selloff title*@
            @{
                if (item.SellOff > 0)
                {
                    <a class="product-selloff">@item.SellOff %</a>
                }
            }

            <h1 class="product-price">@item.Price.ToString("n0")</h1>

            <img src="~/Image/product/@item.Img" alt="@item.ProductName">

            <!-- product info -->
            <div class="product-info">
                <h1>@item.ProductName</h1>
                <p>@item.Des</p>
                <a asp-controller="home"
               asp-action="productInfo"
               asp-route-id="@item.Id"
               class="button">more...</a>
            </div>

        </div>
    }

</main>