@model CarShop.Database.Models.Product

@{
    ViewData["Title"] = "ProductInfo";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div class="col-12 p-3 row">

    @*img box*@
    <div class="col-md-5 col-12">
        <img src="~/image/product/@Model.Img"
             class="w-100 rounded-3 border"
             alt="@Model.ProductName" />
    </div>

    @*info box*@
    <div class="col-md-7 col-12 shadow-sm rounded-3 bg-whitesmoke">
        <h1>@Model.ProductName</h1>
        <a>@Model.Group.GroupName</a>
        <p>@Model.Des</p>
        <h6>inventory : @Model.Inventory</h6>

        <partial name="productFeatureTable" model="ViewBag.ProductFeatures">


        @*add to shoppingcart*@
        <div class="col-md-4 col-12 float-end">
            @{
                var price = Model.Price;
                var sellOff = Model.SellOff;
                var finalPrice = price;

                if (sellOff > 0)
                {
                    finalPrice = price - (price * sellOff / 100);
                    <s class="fw-bold text-black-50">@price.ToString("n0") $</s>
                    <span class="bg-warning rounded-circle p-1 pt-2 pb-2 text-black small fw-bold">@Model.SellOff %</span>
                }
            }
            <div class="btn bg-skyblue p-1 w-100 mt-2">
                <span class="fa fa-cart-arrow-down fa-lg bg-white rounded-1 p-2 w-100 fw-bold">
                    <span>@finalPrice.ToString("n0")</span>
                </span>
                <button class="btn bg-skyblue w-100 text-white fw-bold fs-5">Add To Parking</button>
            </div>
        </div>
    </div>
</div>

@*related products*@
@{
    //var products = ViewData["RelatedProducts"];
    var products = ViewBag.RelatedProducts;

    if (products != null && products.Count > 0)
    {
        <div class="col-12 p-3">

            <h1 class="text-info" >similar cars</h1>
            <hr class="border-info" />
            <partial name="productsPartial" model="products" />
        </div>

    }
}

<div>
    <a class="btn btn-outline-info rounded-5 m-2" asp-action="Index">
        <span class="fa fa-angle-left"></span> Back to Home</a>
</div>
